body {
    margin: 0%;
}

#title-section {
    background-color: #f5f5f5;
    color: #000000 ;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 155px;
    align-content: center;
    text-align: center;
}

p {
    font-family: 'Old Standard TT', serif;
}

.title-image {
    /* float: right; */
    border-radius: 50%;
    margin-top:60px ;
    margin-bottom: 5rem;
    max-width: 100%;
    height: auto;
}

.name {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    padding-top: 50px;

}


.elon-quote {
    font-weight: bold;
    font-size: 25px;
    /* text-align: left; */

}

.about-elon {
    line-height: 2rem;
    text-align: left;
}


#biography-section {
    padding: 30px;
    padding-top: 50px;
    text-align: center;
    background-color: #ffffff;
    color: #333333;

}

#biography-section > h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
}

#biography-section > p {
    font-family: 'Old Standard TT', serif;
    line-height: 2rem;
    max-width: 700px;
    margin: auto;
    word-spacing: 1px;
    margin-bottom: 100px;
    text-align: left;
}

#achivements-section {
    padding: 30px;
    padding-top: 30px;
    background-color: #f5f5f5;
    color: black;

}

#achivements-section > h1{
    font-family: 'Pacifico', cursive;
    font-family: 'Pacifico', cursive;
    font-size: 2.6rem;
    margin-top: 100px;
    text-align: center;
    
}

.container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}


@media (max-width: 480px) {

    .container {
        flex-direction: column;
    }
  }

  @media (min-width: 481px) and (max-width: 1200px) {
    .container {
        flex-direction: column;
    }
    
  }

  @media (min-width:1201) and (max-width: 1600px) {
    .container {
        flex-direction: column;
    }

  }

  @media (min-width: 1601px) {
    .container {
        flex-direction: row;
    }
  }

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-img {
    height: 300px;
    width: 300px;
    border-radius: 10%;
    margin: 40px 0px;
}

span {
    font-weight: bolder;
    font-size: 2rem;
}

.spacex > p {
    line-height: 30px;
    font-size: large;
    margin-top: 70px;

}



.tesla-img {
    height: 300px;
    width: 300px;
    border-radius: 10%;
    margin-top: 50px;
}

.tesla > p{
    margin-top:70px;
    line-height: 30px;
    font-size: large;
}

.boring-comapny-img {
    height: 300px;
    width: 300px;
    border-radius: 10%;
    margin-top: 50px;
}

.the-boring-company > p{
    margin-top: 70px;
    line-height: 30px;
    font-size: large;
}

.solar-img {
    height: 300px;
    width: 300px;
    border-radius: 10%;
    margin-top: 50px;
}

.solar-city > p{
    margin-top: 70px;
    line-height: 30px;
    font-size: large;
}

.openai-img {
    height: 300px;
    width: 300px;
    border-radius: 10%;
    margin-top: 50px;
}

.openai  > p{
    margin-top: 70px;
    line-height: 30px;
    font-size: large;
}

.zip2-image {
    height: 300px;
    width: 300px;
    border-radius: 10%;
    margin-top: 50px;
}

.zip2 > p {
    margin-top: 70px;
    line-height: 30px;
    font-size: large;
}

.paypal-img {
    height: 300px;
    width: 300px;
    border-radius: 10%;
    margin-top: 50px;
}

.paypal > p {
    margin-top: 70px;
    line-height: 30px;
    font-size: large;
}


 .top {
        text-decoration: none;
        padding: 10px;
        font-family: sans-serif;
        color: #fff;
        background: #000;
        border-radius: 100px;
        position: sticky;
}

h3 {
    margin-top: 100px;
}
h4 {
    margin-top: 100px;
}

#footer-section {
    background-color: #fff;
    padding: 30px;
    padding-top: 150px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Old Standard TT', serif;
}
